text {
  fill: #000;
}

.update-chart {
  position: absolute;
  right: 20px;
  top: 440px;
  display: none;
}

path {
  &.candle.body {
    stroke-width: 0;
  }
  &.candle.up {
    fill: #00AA00;
    stroke: #00AA00;
  }
  &.candle.down {
    fill: #FF0000;
    stroke: #FF0000;
  }
}

.ichimoku {
  path {
    fill: none;
    stroke-width: 0.8;
    stroke: #000000;
    &.chikouspan {
      stroke: #BF5FFF;
    }
    &.tenkansen {
      stroke: #0033FF;
    }
    &.kijunsen {
      stroke: #FBB117;
    }
    &.kumo {
      opacity: 0.1;
    }
    &.kumo.up {
      fill: #00AA00;
    }
    &.kumo.down {
      fill: #FF0000;
    }
    &.senkouspana {
      stroke: #006600;
    }
    &.senkouspanb {
      stroke: #FF0000;
    }
  }
}

.vue-slider-tooltip-wrap {
  width: 100px;
  color: #2c3e50;
  font-size: 1rem;
}
